<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Testchrome">
	  <parameter name="browserName" value="chrome"></parameter>
	<!--   <groups>
		  <run>
			  <include name="sanity"></include>
		  </run>
	  </groups>-->
    <classes>
      <class name="NewPackage.New"/>
    </classes>
  </test>
  
  <test thread-count="5" name="TestEgde">
	  <parameter name="browserName" value="Edge"></parameter>
	
    <classes>
      <class name="NewPackage.New"/>
    </classes>
  </test> 
  <listeners>
	  <listener class-name="TestListener.Isuitelistener"></listener>
  </listeners><!-- Test -->
</suite> <!-- Suite -->
